<div id="dashboard">
  <div class="nav-stripe">
    <div class="ui container">
      <div class="ui secondary menu">
        <div class="left menu">
          <a href="/" class="item">
            <div class="nav-logo">
              Textbook Swap
            </div>
          </a>
          <a href="/" class="item">
            Home
          </a>
          <a href="/dashboard" class="active item">
            Dashboard
          </a>
          <a href="/add_book" class="item">
            Sell an item
          </a>
        </div>
        <div class="right menu">
          <a
            <% if(@LogInOrOut != 'Login') %>
            href="/logout"
            data-method="delete"
            <% else %>
            href="/login"
            <% end %>
            class="active item">
            <%= @LogInOrOut || 'Login' %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard_container ui container">
    <h2>Welcome</h2>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui center aligned grid" id="related_books" align="center">
          <div class="two wide column">
            <div class="ui inverted compact vertical labeled icon menu">
              <a class="item active">
                <i class="book icon"></i>
                Owned Books
              </a>
              <a class="item">
                <i class="money bill alternate outline icon"></i>
                Selling
              </a>
              <a class="item">
                <i class="dollar sign icon"></i>
                Sold Books
              </a>
              <a class="item">
                <i class="list alternate icon"></i>
                Wish List
              </a>
            </div>
          </div>
          <div class="pool-banner">
            <div class="ui three column grid">
              <div class="column">
                <div class="ui segment item">
                  <img id="related-img-2" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                  <h3 id="related-title-2">Title</h3>
                  <p id="related-price-2">$100.00</p>
                  <a id="related-link-2" href="#" class="ui basic orange button">View</a>
                </div>
              </div>
              <div class="column">
                <div class="ui segment item">
                  <img id="related-img-2" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                  <h3 id="related-title-2">Title</h3>
                  <p id="related-price-2">$100.00</p>
                  <a id="related-link-2" href="#" class="ui basic orange button">View</a>
                </div>
              </div>

              <div class="column">
                <div class="ui segment item">
                  <img id="" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                  <h4 id="">Title</h4>

                  <p id="">$100.00</p>
                  <a id="" href="#" class="ui basic orange button">View</a>
                </div>
              </div>
            </div>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
</div>

