<div id="dashboard">
  <div class="nav-stripe">
    <div class="ui container">
      <div class="ui secondary menu">
        <div class="left menu">
          <a href="/" class="item">
            <div class="nav-logo">
              Textbook Swap
            </div>
          </a>
          <a href="/" class="item">
            Home
          </a>
          <a href="/dashboard" class="active item">
            Dashboard
          </a>
          <a href="/add_book" class="item">
            Sell an item
          </a>
        </div>
        <div class="right menu">
          <a
            <% if(@LogInOrOut != 'Login') %>
            href="/logout"
            data-method="delete"
            <% else %>
            href="/login"
            <% end %>
            class="active item">
            <%= @LogInOrOut || 'Login' %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="login_container ui container">

    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui center aligned grid" id="related_books" align="center">
          <div class="four wide column">
            <div class="ui vertical pointing menu inverted">
              <a class="item active">
                Books I Own
              </a>
              <a class="item">
                Books I'm Selling
              </a>
              <a class="item">
                Sold Books
              </a>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui segment item">
              <img id="related-img-2" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
              <h3 id="related-title-2">Title</h3>
              <p id="related-price-2">$100.00</p>
              <a id="related-link-2" href="#" class="ui basic orange button">View</a>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui segment item">
              <img id="related-img-3" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
              <h3 id="related-title-3">Title</h3>
              <p id="related-price-3">$100.00</p>
              <a id="related-link-3" href="#" class="ui basic orange button">View</a>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui segment item">
              <img id="related-img-4" class="ui image" src="https://picsum.photos/200/200/?random" alt="placeholder">
              <h3 id="related-title-4">Title</h3>
              <p id="related-price-4">$100.00</p>
              <a id="related-link-4" href="#" class="ui basic orange button">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  </div>
</div>

