<div id="add_book">
    <div class="nav-stripe">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <a href="/" class="item">
                    <div class="nav-logo">
                        Textbook Swap
                    </div>
                </a>
                <a href="/dashboard" class="item">
                    Dashboard
                </a>
                <a href="/add_book" class="active item">
                    Add A Book
                </a>
            </div>
          <div class="right menu">
            <a
             <% if(@LogInOrOut != 'Login') %>
             href="/logout" 
             data-method="delete"
             <% else %>
             href="/login"
             <% end %>
             class="active item">
              <%= @LogInOrOut || 'Login' %>
            </a>
          </div>
        </div>
    </div>
    </div>
    <div class="page">
        <div class="ui container">
            <div align="center">
                <h1 class="ui orange header">Sell a Book!</h1>
            </div>

        <% if flash[:alert] %>
        <br>
        <div class="ui container">
            <div class="ui danger message">
                <i class="close icon"></i>
                <div class="header">
                    Error
                </div>
                <p><%= flash[:alert] %></p>
            </div>
        </div>
        <br>
        <% end %>

            <div class="ui grid">
                <div class="eight wide column">
                    <form action="/add_book" method="POST" class="ui form" enctype="application/json">
                        <label for="">ISBN</label>
                        <div class="field">
                            <div class="ui search">
                                <input id="isbn" name="isbn" type="text" placeholder="9783161484100">

                            </div>
                        </div>
                        <label>Title</label>
                        <div class="field">
                            <div class="ui input">
                                <input id="title" name="title" type="text" placeholder="University Physics">
                            </div>
                        </div>
                        <label>Author</label>
                        <div class="field">
                            <div class="ui input">
                                <input id="author" name="author" type="text" placeholder="Sam Milazzo">
                            </div>
                        </div>
                        <label>Edition</label>
                        <div class="field">
                            <div class="ui input">
                                <input name="edition" type="text" placeholder="13th">
                            </div>
                        </div>
                        <label>Condition</label>
                        <div class="field">
                            <select name="condition" class="ui fluid selection dropdown" id="condition-dropdown">
                                <option value="new">New</option>
                                <option value="good">Good</option>
                                <option value="fair">Fair</option>
                                <option value="poor">Poor</option>
                            </select>
                        </div>
                        <label>Price</label>
                        <div class="field">
                            <div class="ui input">
                                <input id="price" name="price" type="number" placeholder="$100.00">
                            </div>
                        </div>
                        <div class="field">
                            <input name="picture_path" type="text" id="picture_path" style="visibility: hidden; position: absolute;">
                            <!-- <a onclick="$('#image-upload').click();" class="ui medium yellow button">Upload Picture</a> -->
                        </div>
                        <div align="center">
                            <button type="submit" class="ui large orange button">Sell Now</button>
                        </div>
                      <div class="ui error message"></div>
                    </form>
                </div>
                <div class="eight wide column" align="center">
                    <h2>preview</h2>
                    <!-- <img id="thumbnail" class="ui medium image" src="/images/book.png" alt="preview"> -->
                    <%= image_tag("book.png", :alt => "placeholder", :class => "ui medium image", :id => "thumbnail") %>
                </div>
            </div>
            <h2 align="center">Similar Listings</h2>
            <br>
            <div class="ui center aligned stackable grid" id="related_books" align="center">
                <div class="four wide column">
                    <div class="ui segment item">
                        <img id="related-img-1" class="ui centered image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                        <h3 id="related-title-1">Title</h3>
                        <p id="related-price-1">$100.00</p>
                        <a id="related-link-1" href="#" class="ui basic orange button">View</a>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segment item">
                        <img id="related-img-2" class="ui centered image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                        <h3 id="related-title-2">Title</h3>
                        <p id="related-price-2">$100.00</p>
                        <a id="related-link-2" href="#" class="ui basic orange button">View</a>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segment item">
                        <img id="related-img-3" class="ui centered image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                        <h3 id="related-title-3">Title</h3>
                        <p id="related-price-3">$100.00</p>
                        <a id="related-link-3" href="#" class="ui basic orange button">View</a>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui segment item">
                        <img id="related-img-4" class="ui centered image" src="https://picsum.photos/200/200/?random" alt="placeholder">
                        <h3 id="related-title-4">Title</h3>
                        <p id="related-price-4">$100.00</p>
                        <a id="related-link-4" href="#" class="ui basic orange button">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var timeout = null;

    $("#isbn").keyup(function (event) {
        event.preventDefault();
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            $.ajax({
                type: "get",
                dataType: "html",
                url: 'https://www.googleapis.com/books/v1/volumes?q=' + $('#isbn').val(),
                // data: $("#form").serialize(),
                success: function (response) {
                    response = JSON.parse(response);
                    var firstBookResp = response.items[0].volumeInfo;
                    var title = firstBookResp.title;
                    var author = firstBookResp.authors[0];
                    var imagelink = firstBookResp.imageLinks.thumbnail;
                    try {
                        var price = response.items[0].saleInfo.retailPrice.amount;
                        $('#price').val(price);
                    } catch(error) {
                        $.ajax({
                            type: "get",
                            dataType: "html",
                            url: `add_book/similar?isbn=${$('#isbn').val()}&limit=1`,
                            success: function(response) {
                                response = JSON.parse(response);
                                price = response[0].price;
                                $('#price').val(price);
                            }
                        })
                    }
                    $('#title').val(title);
                    $('#author').val(author);
                    $('#thumbnail').attr('src', imagelink);
                    $('#picture_path').val(imagelink);
                }
            });

            $.ajax({
                type: "get",
                dataType: "html",
                url: `add_book/similar?isbn=${$('#isbn').val()}&limit=4`,
                success: function (response) {
                    response = JSON.parse(response);
                    $('#related-title-1').text(response[0].title);
                    $('#related-price-1').text(`\$${response[0].price}`);
                    $('#related-link-1').attr('href',`/book/${response[0].id}`);

                    $('#related-title-2').text(response[1].title);
                    $('#related-price-2').text(`\$${response[1].price}`);
                    $('#related-link-2').attr('href',`/book/${response[1].id}`);

                    $('#related-title-3').text(response[2].title);
                    $('#related-price-3').text(`\$${response[2].price}`);
                    $('#related-link-3').attr('href',`/book/${response[2].id}`);

                    $('#related-title-4').text(response[3].title);
                    $('#related-price-4').text(`\$${response[3].price}`);
                    $('#related-link-4').attr('href',`/book/${response[3].id}`);
                }
            })
        }, 500);
    });

    $('#condition-dropdown')
        .dropdown({
            clearable: true
        })
        ;

    $('.ui.form')
        .form({
            fields: {
                title   : 'empty',
                isbn    : ['minLength[9]', 'maxLength[13]', 'empty'],
                price   : 'empty',
                edition : 'empty',
                author  : 'empty'
            }
        })
    ;
</script>