    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <a href="/" class="item">
                    <div class="nav-logo">
                        Textbook Swap
                    </div>
                </a>
                <a href="/dashboard" class="item">
                    Dashboard
                </a>
                <a href="/add_book" class="item">
                    Add A Book
                </a>
            </div>
          <div class="right menu">
            <a
             <% if(@LogInOrOut != 'Login') %>
             href="/logout" 
             data-method="delete"
             <% else %>
             href="/login"
             <% end %>
             class="active item">
              <%= @LogInOrOut || 'Login' %>
            </a>
          </div>
        </div>
    </div>
    <div class="ui container">
	<% if flash[:notice] %>
		<div class="ui positive message">
			<i class="close icon"></i>
			<div class="header">
				Logged In
			</div>
			<p><%= flash[:notice] %></p>
		</div>
	<% end%>
    </div>
