<div align="center">
  <div class="search_container">
    <div class="ui grid">
      <div class="four wide column">
        <div class="search_category">
          <i class="book icon"></i>
          <br> Buy Books
        </div>
      </div>
      <div class="four wide column">
        <div class="search_category">
          <i class="book icon"></i>
          <br> Sell Books
        </div>
      </div>
      <div class="four wide column">
        <div class="search_category">
          <i class="book icon"></i>
          <br> Trade Books
        </div>
      </div>
      <div class="four wide column">
      </div>
    </div>
    <h2>Search for a textbook...</h2>
    <form action="/search_book" method="POST">
      <div class="ui fluid action input">
        <input id="search_text" name="search_text" type="text" placeholder="ISBN, title, or author">
      </div>
      <br>
      <div align="left">
        <h3>At</h3>
        <div class="ui fluid action input">
          <input id="search_university" name="search_university" type="text" placeholder="ppcc,uccs">
        </div>
      </div>
      <br>
      <div align="center" >
        <button type="submit" class="ui orange button">
          search
          &nbsp;
          <i class="white search icon"></i>
        </button>
      </div>
    </form>
  </div>
</div>