<div align="center">
  <div class="search_container">
    <h2>Search for a textbook...</h2>
    <form action="/search_book" method="POST" class="ui form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <input id="search_text" name="search_text" type="text" placeholder="ISBN, title, or author">
          </div>
          <label style="color: white; font-size: 2em; line-height: 1.5em;">At</label>
          <div class="field">
            <div class="ui action input">
              <input id="search_university" name="search_university" type="text" placeholder="ppcc,uccs">
              <button type="submit" class="ui orange button">
                search
                &nbsp;
                <i class="white search icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>