<div id="home-container">
<div id="home">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <div class="stripe">
                    <a href="/" class="button">
                        Home
                    </a>

                    <button class="button">
                        Dashboard
                    </button>

                    <a href="/add_book" class="button">
                        Sell an item
                    </a>
                </div>

            </div>
        </div>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>

        <div align="center">
            <div class="search_container">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Buy Books
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Sell Books
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Trade Books
                        </div>
                    </div>
                    <div class="four wide column">
                    </div>
                </div>
                <h2>Search for a textbook...</h2>
		<form action="/search_book" method="POST">
                    <div class="ui fluid action input">
                        <input id="search_text" name="search_text" type="text" placeholder="ISBN, title, or author"> 
			<button type="submit" class="ui orange button">
                      		search
                       		&nbsp;
                   		<i class="white search icon"></i>
			</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <h2 class="ui center aligned orange header">Recently listed books</h2>
    <div class="ui grid">
    <% if(@allBooks.present?) %>
    <% @allBooks.each do |book| %>
        <div class="four wide column">
            <div class="ui card">
                <div class="image"> 
                    <img src="https://webstores.activenetwork.com/school-software/del_sol_high_schofaw/images/products/detail_516_del_sol_high_schofaw_textbooks.jpg">
                </div>
                <div class="content">
                    <a class="header">
                        <%= book.title %>
                    </a>
                    <div class="description">
                        <%= "ISBN: #{book.isbn}" %>
                        <br>
                        <%= "Price: $#{book.price}" %>
                        <br>
                        <br>
                        <div align="center">
                            <a class="ui basic orange button">View <i class="angle right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% end %>
    </div>
</div>
<br>
</div>
<div class="footer-center">
    <h2>
        Made with love
        <3 - Group 5 </h2>
</div>
