<div id = "home">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <div class="stripe">
                    <a href="/" class="button">
                        Home
                    </a>

                    <button class="button">
                        Dashboard
                    </button>

                    <a href="/add_book" class="button">
                        Sell an item
                    </a>
                </div>

            </div>
        </div>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>

        <div align="center">
            <div class="search_container">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Buy Books
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Sell Books
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="search_category">
                            <i class="book icon"></i>
                            <br> Trade Books
                        </div>
                    </div>
                    <div class="four wide column">
                    </div>
                </div>
                <h2>Search for a textbook...</h2>
		<form action="/search_book" method="POST">
                    <div class="ui fluid action input">
                        <input id="search_text" name="search_text" type="text" placeholder="ISBN, title, or author"> 
			<button type="submit" class="ui orange button">
                      		search
                       		&nbsp;
                   		<i class="white search icon"></i>
			</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="eight wide column">
            <div class="left box">
                <h6>TEXTBOOK SWAP ADVERT 1</h6>
                <h2>Get your textbook today!</h2>
                <h3>BOOST YOUR GRADE >></h3>
            </div>
        </div>
        <div class="eight wide column">
            <div class="right box">
                <h6>TEXTBOOK SWAP ADVERT 2</h6>
                <h2>Trade your textbook today!</h2>
                <h3>TRADE & SAVE >></h3>
            </div>
        </div>
    </div>
</div>

<div class="advert">
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <h2>Big advert header</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut accusamus sequi molestias ullam, doloribus necessitatibus dolor ratione iste quasi rem delectus iure, repellat eaque. Dicta modi non distinctio reiciendis.
                </p>
                <a href="#" class="cta">GET THIS SEMESTERS BOOKS! ></a>
            </div>
        </div>
    </div>
</div>
