<div id="home">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="right menu">
                <div class="active item">
                    Home
                </div>
                <div class="item">
                    Dashboard
                </div>
                <div class="item">
                    Sell an item
                </div>
            </div>
        </div>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>

        <div align="center">
            <div class="search_container">
                <h2>Search for a textbook...</h2>
                <form action="">
                    <div class="ui fluid icon input">
                        <i class="orange search icon"></i>
                        <input type="text" placeholder="University Physics Ed. 13s">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="left box">
                <h6>CHEGG STUDY</h6>
                <h2>When homework gets tough, get tougher</h2>
                <h3>BOOST YOUR GRADE >></h3>
            </div>
        </div>
        <div class="eight wide column">
            <div class="right box">
                <h6>CHEGG TEXTBOOKS</h6>
                <h2>Because full price = overpriced</h2>
                <h3>RENT & SAVE >></h3>
            </div>
        </div>
    </div>
</div>

<div class="advert">
    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <h2>Boost your grades</h2>
                <p>End the stress headache. From SAT prep, to essays & problem sets
                    <br>
                    get help from tutors & textbook solutions
                </p>
                <a href="#" class="cta">GET HOMEWORK HELP ></a>
            </div>
        </div>
    </div>
</div>