
<div id="loginPage">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <a href="/" class="item">
                    <div class="nav-logo">
                        Textbook Swap
                    </div>
                </a>
                <a href="/dashboard" class="item">
                    Dashboard
                </a>
                <a href="/add_book" class="item">
                    Add A Book
                </a>
            </div>
          <div class="right menu">
            <a
             <% if(@LogInOrOut != 'Login') %>
             href="/logout" 
             data-method="delete"
             <% else %>
             href="/login"
             <% end %>
             class="active item">
              <%= @LogInOrOut || 'Login' %>
            </a>
          </div>
        </div>
    </div>

        <% if flash[:alert] %>
        <div class="ui container">
            <div class="ui danger message">
                <i class="close icon"></i>
                <div class="header">
                    Error
                </div>
                <p><%= flash[:alert] %></p>
            </div>
        </div>
        <% end %>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>



        <div class="login_container ui container">
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <form id="signup-form" action="/create" class="ui large inverted form" method="post" enctype="application/json" >
                        
            <div class="ui error message"></div>
                        <div class="ui stacked inverted segment">
                    <h3>Create an Account</h3>
                            <div class="field">
                                <label>Email</label>
                                <input name="email" placeholder="JohnDoe@gmail.com" type="text">
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <input name="password" placeholder="Password" type="password">
                            </div>
                            <div class="field">
                                <label>Retype Password</label>
                                <input name="password_confirmation" placeholder="Password" type="password">
                            </div>
                            <div class="field">
                                <label>Name</label>
                                <input name="name" placeholder="John Doe" type="text">
                            </div>
                            <div class="field">
                                <label>Zip</label>
                                <input name="zip" placeholder="80817" type="text">
                            </div>
                            <!-- <div class="field">
                                <label>School</label> "
                                <input name="school" placeholder="Password" type="password">
                            </div>
                            <div class="field">
                                <label>Major</label>
                                <input name="password" placeholder="Password" type="password">
                            </div> -->
                            <div align=center>
                                <button href = "/" class="ui fluid orange button" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="eight wide column">
                    <form id="login-form" action="/check" class="ui large inverted form" method="post" enctype="application/json" >
                        
                        <div class="ui error message"></div>
                        <div class="ui stacked inverted segment">
                            <h3>Login</h3>
                            <div class="field">
                                <label>Email</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input name="user_email" placeholder="E-mail address" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input name="user_password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <!--
                            <a href="/Forgot Password" class="active item">
                                Forgot Password
                            </a>
                            -->
                            <button href="/" class="ui fluid orange button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#signup-form')
        .form({
            fields: {
                email   : 'empty',
                password    : 'empty',
                password_confirmation   : 'empty',
                name : 'empty',
                zip  : 'empty'
            }
        })
    ;


    $('#login-form')
        .form({
            fields: {
                user_email   : 'empty',
                user_password    : 'empty',
            }
        })
    ;
</script>