<div id="loginPage">

<h1 style="color:black;">sergio</h1>
<div class="ui grid">
        <div class="eight wide column">
                <h1 style="color:black;">sergio</h1>
        </div>
<!---->
        <div class="eight wide column">
                <h1 style="color:black;">sergio</h1>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="email" placeholder="E-mail address" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <a href="/Forgot Password" class="active item">
                        Login
                    </a>
                    <div class="ui fluid large orange submit button">Login</div>
                </div>
            </form>
        </div>
</div>


</div>