
<div id="loginPage">
    <div class="ui container">
        <div class="ui secondary menu">
            <div class="left menu">
                <a href="/" class="active item">
                    Home
                </a>
                <div class="item">
                    Dashboard
                </div>
                <div class="item">
                    Sell an item
                </div>
            </div>
          <div class="right menu">
            <a href="/login" class="active item">
              <%= @LogInOrOut %>
            </a>
          </div>
        </div>

        <div align="center">
            <h1 class="logo">Textbook Swap</h1>
        </div>

        <div class="login_container">
            <div class="ui grid">
                <div class="eight wide column">
                    <form action="/create" class="ui large inverted form" method="post" enctype="application/json" >
                        <div class="ui stacked inverted segment">
                    <h3>Create an Account</h3>
                                <div class="field">
                                        <label>Name</label>
                                        <input name="name" placeholder="John Doe" type="text">
                                    </div>
                            <div class="field">
                                <label>Email</label>
                                <input name="email" placeholder="JohnDoe@gmail.com" type="text">
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <input name="password" placeholder="Password" type="password">
                            </div>
                            <div class="field">
                                <label>Retype Password</label>
                                <input name="password_confirmation" placeholder="Password" type="password">
                            </div>
                            <!-- <div class="field">
                                <label>School</label>
                                <input name="school" placeholder="Password" type="password">
                            </div>
                            <div class="field">
                                <label>Major</label>
                                <input name="password" placeholder="Password" type="password">
                            </div> -->
                            <div align=center>
                                <button href = "/" class="ui fluid orange button" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="eight wide column">
                    <form action="/check" class="ui large inverted form" method="post" enctype="application/json" >
                        <div class="ui stacked inverted segment">
                            <h3>Login</h3>
                            <div class="field">
                                <label>Email</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input name="user_email" placeholder="E-mail address" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input name="user_password" placeholder="Password" type="password">
                                </div>
                            </div>
                            <!--
                            <a href="/Forgot Password" class="active item">
                                Forgot Password
                            </a>
                            -->
                            <button href="/" class="ui fluid orange button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>