// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blacktext {color: #000;}
.dashboard_container {
  margin-top: 2%;
  padding: 10px;
}
.pool-banner {
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 10px;
}