// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// add a gradient background to the login page
#loginPage{
  background-image: linear-gradient(to right,#f12711,#f5af19) !important;
  height:100%;
}
.login_container {
  margin-top: 2%;
  padding: 25px;
}

#loginPage h3, #loginPage .menu .item, .logo {
  color: white;
}

#loginPage h3 {
  text-align: center;
}